/* You can add global styles to this file, and also import other style files */
  
  .img {
	width: 100px;
	border-radius: 10px;
  }
  
  .form-margin {
	margin-top: 12px;
	margin-bottom: 12px;
  }
  
  body{
	font-family: 'Roboto', sans-serif
  }
  p{
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }