.menu {
	text-align: center;
	background: #03d8ce;
	color: #fff;
	padding: 12px;
	font-family: 'Roboto', sans-serif; /* Sử dụng font đã chọn */
  }
  
  
  a {
	color: #ffffff;
	text-decoration: none;
	font-weight: 800;
  
	&:hover {
	  text-decoration: underline;
	  color: #f21212;
	}
  }
  