.confirmation-container {
	margin-top: 8%;
	display: flex;
	align-items: center;
	justify-content: center;
  
	.items {
	  display: flex;
	  align-items: center;
	  flex-direction: column;
  
	  .header {
		color: #33b5e5;
	  }
  
	  .item {
		margin-bottom: 30px;
	  }
	}
  }
  
  .btn-primary {
	min-width: 115px;
	padding: 6px 12px;
  
	color: white;
	border-radius: 6px;
	text-decoration: none;
	border: 1px solid white;
	background-color: #33b5e5;
  
	&:hover {
	  cursor: pointer;
	  border: 1px solid blue;
	}
  }
  